/* Combined styles for react-pdf-highlighter-plus */
@import "pdfjs-dist/web/pdf_viewer.css";

@import "./pdf_viewer.css";
@import "./PdfHighlighter.css";
@import "./MouseSelection.css";
@import "./TextHighlight.css";
@import "./AreaHighlight.css";
@import "./FreetextHighlight.css";
@import "./ImageHighlight.css";
@import "./DrawingHighlight.css";
@import "./DrawingCanvas.css";
@import "./SignaturePad.css";
@import "./ShapeCanvas.css";
@import "./ShapeHighlight.css";
